body {
  background-color: pink;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  
}

.buttons {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 15px 18px;
  border: none;
  border-radius: 10px;
  font-style: Arial, sans-serif;
  font-size: 18px;
  color: white;
  background-color: #f7a100;
  transition: all, 0.3s;
  outline: none;
}

.btn:hover {
  background-color: #f5c56c;
}

.popover {
  position: absolute;
  border: 1px solid rgba(64, 64, 64, .5);
  border-radius: 5px;
}

.popover::before {
	content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 12px solid rgba(64, 64, 64, .5);
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    border-bottom: 12px solid transparent;
    right: 70%;
}

.popover h3 {
  margin: 0;
  padding: 5px;
  background-color:rgba(64, 64, 64, .5);;
}

.popover p {
  padding: 0;
  margin: 0;
  padding: 5px;
}